%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Type spec dict() is deprecated in R17 to be removed in R18 in
%% preference for dict:dict(). But the fix is not compatible with <=
%% R16.
%% Compiler Options ============================================================
{erl_opts,
    [{platform_define, "^[0-9]+", namespaced_types},
     debug_info,
     warnings_as_errors,
     inline]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

%% EUnit =======================================================================
{eunit_opts,
 [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

%% Dependencies ================================================================
{deps_dir, "deps"}.
{deps, [
    % let it always be the first
    {lager, "2.1.1",
        {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
    {meck, "0.8.3",
        {git, "git://github.com/eproxus/meck.git", {branch, "master"}}},
    {crc16, "1.1",
        {git, "git://github.com/building39/crc16_nif.git", {branch, "master"}}},
    {jsx, "2.*",
        {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
    {uuid, "0.*",
        {git, "git://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
    {riakc, "2.*",
        {git, "git://github.com/basho/riak-erlang-client.git", {branch, "master"}}},
%%    {folsom_cowboy, ".*",
%%        {git, "git://github.com/building39/folsom_cowboy.git", {branch, "master"}}},
    {pooler, "1.*",
        {git, "git://github.com/seth/pooler.git", {branch, "master"}}},
    {mcd, ".*",
        {git, "git://github.com/building39/mcd.git", {branch, "master"}}}
]}.
