%%% -*-erlang-*-
[
  {nebula2,
    [
      {cdmi_bootstrap, true},
      {cdmi_location, "US-TX"},
      {cdmi_metadata_module, nebula2_riak}
    ]
  },
  {lager,
    [
      {log_root, "/var/log/nebula2"},
      {handlers,
        [
          {lager_console_backend, info, {colored, true}},
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]
      }
    ]
  },
  {pooler,
    [
      {pools,
        [
          [
            {name, riak_pool},
            {group, riak},
            {max_count, 5},
            {init_count, 5},
            {start_mfa, {riakc_pb_socket, start_link, ["nebriak", 8087]}}
              %% if you want to enable metrics, set this to a module with
              %% an API conformant to the folsom_metrics module.
              %% If this config is missing, then no metrics are sent.
              %% {metrics_module, folsom_metrics}
          ]
        ]
      }
    ]
  }
].
